.vs
*.vcxproj
*.vcxproj.filters
*.vcproj
*.sln
*.o
*.a
*.so
*.so.*
*.mak.*
*.dll
*.lib
*.exe
*.ncb
*.opt
*.plg
*.pdb
*.exp
*.ilk
*.suo
*.user
*.bsc
*.log
*.aps
*.mak
*.pch
*.res
*.obj
*.sdf
*.manifest
*.sbr
*.scc
*.clw
*.dep
*.idb
*.la
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
BuildLog.htm
*.opensdf
*VC.db-shm
*VC.db-wal
*.rc
*VC.opendb


ui_*.h
moc_*.cpp
moc_predefs*
makefile*
Makefile*
so_locations
qrc_*
*.qm
*.moc
*.qmake.stash

*.dat
*.bak
*.ddp
*.dcu
*.db
*.zip
*.rar
*.7z
*.tgz
*.old
*.xls
*.xlsx
*.result
*.dot
*.ipch
*.pyc
*.egg
*.patch
*.dump
UpgradeLog.XML
UpgradeLog*.htm

